<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% block content %}

<center>
<h1 style="font-size:50px;text-shadow:3px 0px gray;color:#381d1d"><b>M O V I E S</b></h1>
</center>


<div class="container">



    <div class="row">
        {% for i in films %}
    <div class="col-md-4 p-5"><div class="card" style="width:250px;height:430px">
  <center><img style="height:200px;width:180px;" src="{{i.cover.url}}" class="card-img-top" alt="..."></center>
  <div class="card-body">
    <h6 class="card-title">Title: {{i.title}}</h6>
    <p style="font-size:15px" class="card-text">Year: {{i.year}}</p>
    <p class="card-text">IMBD Rating: {{i.about}}</p>
    <a href="{% url 'more' i.id %}" class="btn btn-danger">More</a>
  </div>
</div></div>
         {% endfor %}
    </div>



</div>



{% endblock %}
</html>